@import url("https://fonts.googleapis.com/css?family=Droid+Sans:400,700");

* {
  padding: 0;
  margin: 0;
}
.body {
  font-family: "Droid Sans";
  font-weight: 700;
  color: #ff6;
  background-color: #000;
  overflow: hidden;
}
.audio{
  display: flex;
  flex-direction: column;
  margin: 20px 20px;
  
 }
 .container {
  position: absolute;
  width: 20em;
  height: 50em;
  bottom: 0;
  left: 50%;
  margin-left: -9em;
  font-size: 370%;
  text-align: justify;
  overflow: hidden;
  transform-origin: 50% 100%;
  transform: perspective(400px) rotateX(25deg);
}
.container :after {
  position: absolute;
  pointer-events: none;
}
.container p {
  text-align: justify;
  margin: 0.8em 0;
  line-height: 1.8;
}
.container p.center {
  text-align: center;
}
.content {
  position: absolute;
  top: 100%;
  animation: scroll 30s ease-in 1s infinite;
}
@keyframes scroll {
  0% {
    top: 100%;
  }
  100% {
    top: -170%;
  }
}
